.background-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}

.background-image > img {
  width: 100%;
  opacity: 0.6;
  vertical-align: middle;
}
