*, ::after, ::before {
  box-sizing: border-box; //todo do we need this?
}

// Right aligned form
.login.align-right {
  #login {
    @media (min-width: $screen-sm-max) {
      float: right;
    }
  }

  .background-image > img {
    height: 100%;
    width: auto;
  }
}

// Left aligned form
.login.align-left {
  #login {
    @media (min-width: $screen-sm-max) {
      margin: 0;
    }
  }

  .background-image {
    right: 0;
  }

  .bg-caption {
    right: 0;
  }
}

.login.align-center {
  #login {
    background-color: transparent;
  }
}

body.login {
  background-color: $color-gray-lightest;
}

.text-white {
  color: $color-white;
}

.text-shadow {
  text-shadow: 0 0 30px rgba(58,58,58,.5);
}

h1, h2, h3, h4, h5 {
  color: inherit;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.6;
  margin-bottom: 0.5rem;
}

h2 {
  font-size: $h2-font-size;
  line-height: 1.6;
}

p {
  font-size: $base-font-size;
}

/** This is specific to overwrite styles **/
form#loginform p.galogin {
  height: 34px;
}

.bg-caption {
  bottom: 0;
  margin-bottom: $padding-xl-vertical;
  padding-left: $padding-large-horizontal;
  position: absolute;
}
