body.login {
    /*background: url('../images/forest.jpg');*/
    /*background-size: cover;*/
    background-color: #f3f3f3;
}

#login {
    display: block;
    position: relative;
    float: right;
    height: 100%;
    width: 450px;
    padding: 5em 3em;
    background: #fff;
}

.background-image {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
}

.background-image > img {
    height: 100%;
    opacity: 0.6;
    vertical-align: middle;
}