*, ::after, ::before {
    box-sizing: border-box;
}

body.login {
    background-color: #f3f3f3;
}

#login {
    display: block;
    position: relative;
    float: right;
    height: 100%;
    width: 450px;
    padding: 5em 3em;
    background: #fff;
}

.login form {
    box-shadow: none;
    -webkit-box-shadow: none;
}

.background-image {
    position: absolute;
    overflow: hidden;
    height: 100%;
}

.background-image > img {
    height: 100%;
    opacity: 0.6;
    vertical-align: middle;
}

.bg-caption {
    width: 500px;
    position: absolute;
    bottom: 0;
    margin-bottom: 3em;
    padding-left: 3em;
}

.text-white {
    color: #fff;
}

.text-shadow {
    text-shadow: 0 0 30px rgba(58,58,58,.5);
}