$padding-base-vertical: 12px;
$padding-base-horizontal: 24px;
$padding-xl-vertical: 32px;
$padding-xl-horizontal: 64px;
$padding-large-vertical: 16px;
$padding-large-horizontal: 32px;
$padding-small-vertical: 8px;
$padding-small-horizontal: 16px;
$padding-xs-vertical: 4px;
$padding-xs-horizontal: 8px;
